.config/1Password
.config/Code\ -\ OSS
.config/GIMP
.config/Insync
.config/Slack
.config/alacritty/machine_specific.yml
.config/autostart
.config/calibre
.config/cef_user_data
.config/coc
.config/configstore
.config/dconf
.config/discord
.config/gh/hosts.yml
.config/google-chrome
.config/gpicview
.config/gtk-2.0
.config/gtk-3.0
.config/htop
.config/lxqt
.config/lxsession
.config/menus
.config/pavucontrol.ini
.config/pulse
.config/systemd
.config/zoomus.conf
