#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=PocketCaster
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=jmlelgnlpdinbjemiclfmgcpbpdjlhff
Icon=chrome-jmlelgnlpdinbjemiclfmgcpbpdjlhff-Default
StartupWMClass=crx_jmlelgnlpdinbjemiclfmgcpbpdjlhff
Name[en_US]=PocketCasts
