#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Todoist for Chrome
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=bgjohebimpjdhhocbknplfelpmdhifhd
Icon=chrome-bgjohebimpjdhhocbknplfelpmdhifhd-Default
StartupWMClass=crx_bgjohebimpjdhhocbknplfelpmdhifhd
Name[en_US]=Todoist
